html {
    height: 100%;
    font-family: 'Lato', sans-serif;
}

body {
    height: 100%;
    margin: 0;
}

h1 {
    font-weight: 400;
    font-size: 4em;
    margin: 0 0 10px 0;
}

.main {
    display: flex;
    height: 75%;
    align-items: center;
    justify-content: center;
}

.centered {
    flex: none;
    text-align: center;
}

.container {
    display: flex;
}

.cell {
    margin: 0 25px;
}

img {
    width: 84px;
}
